.container_principal {
    background-color: #F0F1F3;
    display: block;
    justify-items: normal;
}

.container_secundario {
    background-color: #F0F1F3;
    position: relative;
    margin-bottom: 15px;

}

@media screen and (max-width: 340px) {
    .container_principal {
        margin-top: 50px !important
    }


}

@media screen and (max-width: 852px) {
    .container_secundario {
        margin-top: 50px !important
    }
}