.container_principal {
    background-color: #F0F1F3;
    display: block;
    justify-items: normal;
}

.container_secundario {
    background-color: #F0F1F3;
    position:relative;
    margin-bottom: 2%;
    
}
